[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
python-lsp-server = {extras = ["all"], version = "*"}
tqdm = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
