[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
python-lsp-server = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
