astroid==2.11.7
asttokens==2.0.8
autopep8==1.6.0
backcall==0.2.0
build==0.8.0
contourpy==1.0.5
cycler==0.11.0
decorator==5.1.1
dill==0.3.5.1
executing==1.0.0
flake8==4.0.1
fonttools==4.37.2
ipython==8.5.0
isort==5.10.1
jedi==0.18.1
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.6.1
numpy==1.23.3
packaging==21.3
parso==0.8.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.31
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.13.0
pylint==3.0.0a5
pyparsing==3.0.9
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.5.0
pytoolconfig==1.2.2
rope==1.3.0
six==1.16.0
snowballstemmer==2.2.0
stack-data==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
tqdm==4.64.1
traitlets==5.4.0
ujson==5.5.0
wcwidth==0.2.5
whatthepatch==1.0.2
wrapt==1.14.1
yapf==0.32.0
